.block{
    border: 1px solid black;
}

.selected-block{
    border:1px dotted rebeccapurple;
    transform: 0.5;
    background-color: black;
}

.marked-block{
    background-color: red;
}

.frontpage_square{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}