<div class="container">     
    <div class="row " *ngFor="let row of pickArea.pickRows"> <!--  -->
        <div class="col p-1" *ngFor="let col of row.pickColumns"> <!-- -->       
            <div (click)="blockSelected(col.block)" (mouseover)="overBlock(col.block)" (mouseout)="leftBlock(col.block)"
             class="block frontpage_square" [class.selected-block]="col.block.mouseOver" [class.marked-block]="col.block.marked" ></div> <!-- class="block" -->               
        </div>     
    </div>    
</div>

<!--<div class="block"></div> -->